
.chat
  .chat__group-info
    .chat__group-info__left
      .chat__group-info__left__blank1
      .chat__group-info__left__group-name
        = @group.name
      .chat__group-info__left__blank2
      .chat__group-info__left__user-name
        Member:
        .member-name
        - @group.users.each do |user|
          = user.name
    .chat__group-info__right
      = link_to edit_group_path(@group.id),class:"edit-btn" do
        Edit
  .chat__main
    = render @messages
    
  .chat__form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image,class: "input-box__image" do
          = icon("far","image")
          =f.file_field :image,class:"input-box__image__file"
      =f.submit 'Send',class:"submit-btn"