.side
  .side__upside
    .side__upside__box 
      .side__upside__box__username
        = current_user.name
      %ul.side__upside__box__icon
        %li.edit
          = link_to new_group_path,class:"edit" do
            = icon("far", "edit")
        %li.cog
          = link_to edit_user_path(current_user) ,class:"cog" do
            = icon("fas","cog")
  .side__main
    - current_user.groups.each do |group|
      .side__main__blank1
        = link_to group_messages_path(group) do
          .side__main__blank1__group-name
            = group.name
          .side__main__blank1__message-info
            = group.show_last_message
    